#customLI {
    border-bottom-color: var(--specialGreen);
}
#customLI a {
    font-weight: 600;
    color: var(--specialGreen);
}
#customWrapContainer {
    display: flex;
    height: auto;
    padding: 40px 0 100px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(53, 53, 53);
}
#phoneBackContainer {
    display: flex;
    width: 350px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#phoneBackContainer p {
    color: white;
}
#selectedPhoneName {
    margin: 0 0 20px 0;
    color: white;
    font-size: 35px;
}
/* Custom image #################################### */
#customImageDiv {
    position: relative;
    width: 90%;
    background-color: white;
    overflow: hidden;
}
#uploadedImageCanvas {
    width: auto;
    height: 100%;
    background-color: white;
}
#hiddenImage {
    position: absolute;
    z-index: -5;
    max-width:100%;
    max-height:100%;
    height: auto;
    width:auto;
    opacity: 0;
}
#selectedPhoneMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: block;
    filter: brightness(100%);
    width: 100%;
}
#selectorUIContainer {
    width: 800px;
    height: 800px;
    padding: 20px;
    border-radius: 35px;
    background-color: white;
}
#selectorUIContainer .number {
    font-size: 45px;
    color: #14B495;
}
#selectorUIContainer .heading {
    margin-left: 10px;
    font-size: 30px;
}

/* Child 1 */
#selectorUIContainer > :nth-child(1) {
    height: 70px;
}
#brightnessSlider {
    float: right;
    -webkit-appearance: none;
    width: 130px;
    height: 15px;
    margin-top: 12px;
    border-radius: 10px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#brightnessSlider:hover {
    opacity: 1;
}
#brightnessSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(ui_images/slider_icon.png);
    background-size: cover;
    filter: brightness(var(--brightness));
    cursor: pointer;
}
#brightnessSlider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(ui_images/slider_icon.png);
    background-size: cover;
    filter: brightness(var(--brightness));
    cursor: pointer;
}
#deleteButton {
    float: right;
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
}
#deleteButton:hover {
    opacity: 80%;
}

/* Children 2 and 3 */
#selectorUIContainer > :nth-child(2), #selectorUIContainer > :nth-child(3) {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}
#selectorUIContainer > #linkDiv {
    display: none;
}
#uploadButton, #linkButton {
    height: 55px;
    margin-right: 15px;
    cursor: pointer;
}
#linkButton {
    margin-left: 10px;
    margin-right: 20px;
}
#uploadButton:hover, #linkButton:hover {
    opacity: 80%;
}
#fileField::-webkit-file-upload-button, #fileField::file-selector-button {
    display: none;
}
#fileField {
    height: 30px;
    width: 80%;
    padding: 5px 2px 1px 2px;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(119, 119, 119);
    font-size: 15px;
    cursor: pointer;
}
#selectorUIContainer > :nth-child(3) > input {
    height: 30px;
    width: 80%;
    font-size: 15px;
    cursor: default;
}
#selectorUIContainer > :nth-child(3) > input {
     cursor: text;
 }

/* Child 4 */
#selectorUIContainer > :nth-child(4) {
    height: 70px;
    margin-top: 20px;
}

/* Child 5 */
#selectorUIContainer > :nth-child(5) {
    display: flex;
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #636363;
}
/* Adjustment container */
#controlsUIContainer > div {
    width: 95%;
    height: 25px;
    margin: 15px 0 15px 0;
    color: white;
}
/* Adjustment title */
#controlsUIContainer .adjustmentTitle {
    float: left;
    font-size: 25px;
    font-weight: 500;
    cursor: default;
}
/* All items that aren't title */
#controlsUIContainer div * {
    float: right;
}
/* Adjustment slider container and child */
#controlsUIContainer div div {
    display: flex;
    width: 45%;
    height: 25px;
    margin: 0 20px 0 0;
    align-items: center;
    color: white;
    border-left-style: solid;
    border-right-style: solid;
}
input.adjustmentSlider {
    width: 100%;
    height: 3px;
    margin: 0;
    appearance: none;
    
}
input.adjustmentSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 25px;
    background-color: #636363;
    border-radius: 2px;
    color: white;
    border-style: solid;
    cursor: pointer;
}
input.adjustmentSlider::-moz-range-thumb {
    appearance: none;
    width: 12px;
    height: 25px;
    background-color: #636363;
    border-radius: 2px;
    color: white;
    border-style: solid;
    cursor: pointer;
}
/* Value from slider */
.adjustmentValue {
    width: 65px;
    height: 25px;
    margin: 2px 5px 0 5px;
    padding: 0;
    border: none;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
/* Fine adjustment arrows */
#controlsUIContainer div span {
    font-size: 25px;
    cursor: pointer;
}
#controlsUIContainer div span::selection {
    background: transparent;
}
/* Reset Button */
#controlsUIContainer div img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}

/* Child 6 */
#selectorUIContainer > :nth-child(6) {
    height: 70px;
    margin-top: 30px;
}
#selectorUIContainer > :nth-child(6) a {
    font-size: 30px;
    padding: 12px;
    text-decoration: none;
    /* line-height: 1.6; */
    white-space: nowrap;
    color: white;
    background-color: black;
    cursor: pointer;
    /* border-style: solid; */
    border-color: white;
    border-width: 2px;
    transition: background-color 0.12s;
}
#selectorUIContainer > :nth-child(6) a:hover {
    background-color: rgb(55, 55, 55);
}
.hiddenModal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.7);
    backdrop-filter: blur(7px);
    overflow-x: hidden;
}
#exportModal {
    display: none;
    padding: 40px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#loadRingsContainer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#loadRingsContainer > div {
    color: white;
    transform: scale(2);
}

#exportedImageDIV {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: auto;
    height: 80%;
    /* box-shadow: 0 0 20px pink; */
}
#purchaseInstructions {
    max-width: 700px;
    margin: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}
#purchaseInstructions h1 {
    font-size: 35px;
}
#purchaseInstructions p, #purchaseInstructions strong {
    font-size: 18px;
}
#purchaseInstructions a {
    text-decoration: underline;
    cursor: pointer;
}
#exportedImageDIV img {
    height: 100%;
}
#buttonsContainer {
    display: flex;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 12px 0 12px 0;
    justify-content: space-between;
}
#buttonsContainer a {
    font-size: 30px;
    margin: 0 24px 0 24px;
    padding: 12px;
    text-decoration: none;
    /* line-height: 1.6; */
    white-space: nowrap;
    color: white;
    background-color: black;
    cursor: pointer;
    /* border-style: solid; */
    border-color: white;
    border-width: 2px;
    transition: background-color 0.12s;
}
#buttonsContainer a:hover {
    background-color: rgb(55, 55, 55);
}
@media (max-width: 900px) {
    #phoneBackContainer {
        width: 300px;
        height: 700px;
    }
    /* White container */
    #selectorUIContainer {
        width: 92%;
        height: auto;
        padding: 20px 7px 20px 7px;
    }
    /* Main titles */
    #selectorUIContainer .heading {
        font-size: 22px;
    }
    /* Upload image box */
    #selectorUIContainer > :nth-child(1) {
        height: 90px;
    }
    /* Controls UI box */
    #selectorUIContainer > :nth-child(5) {
        margin-top: 20px;
        width: 98%;
        height: auto;
    }
    /* Box with each category */
    #controlsUIContainer > div {
    margin: 20px 0 50px 0;
    color: white;
    }
    /* Titles */
    #controlsUIContainer .adjustmentTitle {
        font-size: 18px;
    }
    /* Scale category sizing fudge */
    #controlsUIContainer > div:first-child > span:first-child {
        margin-right: 40px;
    }
    /* Sliders */
    #controlsUIContainer div div {
        /* margin: 0 20px 0 100px; */
        width: 90%;
    }
    /* Confirm button box */
    #selectorUIContainer > :nth-child(6) {
        height: 100px;
    }
}