#customLI {
    border-bottom-color: var(--specialGreen);
}
#customLI a {
    font-weight: 600;
    color: var(--specialGreen);
}
#customWrapContainer {
    display: flex;
    height: auto;
    padding: 40px 0 100px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(53, 53, 53);
}
#phoneBackContainer {
    display: flex;
    width: 350px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#phoneBackContainer p {
    color: white;
}
#selectedPhoneName {
    margin: 0 0 20px 0;
    color: white;
    font-size: 35px;
}
/* Custom image #################################### */
#customImageDiv {
    position: relative;
    width: 90%;
    max-height: 800px;
    background-color: white;
    overflow: hidden;
}
#customImageDiv::before {
  content: "";
  position: absolute;
  width: var(--imageWidth);
  height: 100%;
  top: var(--ypos);
  left: var(--xpos);
  z-index: 0;
  background-color: white;
  background-image: var(--source);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transform: scale(var(--scale)) rotate(var(--rotation));
}
#hiddenImage {
    position: absolute;
    z-index: -5;
}
#selectedPhoneMask {
    display: block;
    filter: brightness(100%);
    width: 100%;
}
#selectorUIContainer {
    width: 800px;
    height: 800px;
    padding: 20px;
    border-radius: 35px;
    background-color: white;
}
#selectorUIContainer .number {
    font-size: 45px;
    color: #14B495;
}
#selectorUIContainer .heading {
    margin-left: 10px;
    font-size: 30px;
}

/* Child 1 */
#selectorUIContainer > :nth-child(1) {
    height: 70px;
}
#brightnessSlider {
    float: right;
    -webkit-appearance: none;
    width: 130px;
    height: 15px;
    margin-top: 12px;
    border-radius: 10px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#brightnessSlider:hover {
    opacity: 1;
}
#brightnessSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(ui_images/slider_icon.png);
  background-size: cover;
  filter: brightness(var(--brightness));
  cursor: pointer;
}
#deleteButton {
    float: right;
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
}
#deleteButton:hover {
    opacity: 80%;
}

/* Children 2 and 3 */
#selectorUIContainer > :nth-child(2), #selectorUIContainer > :nth-child(3) {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}
#uploadButton, #linkButton {
    height: 55px;
    margin-right: 15px;
    cursor: pointer;
}
#linkButton {
    margin-left: 10px;
    margin-right: 20px;
}
#uploadButton:hover, #linkButton:hover {
    opacity: 80%;
}
#selectorUIContainer > :nth-child(2) > input, #selectorUIContainer > :nth-child(3) > input {
    height: 30px;
    width: 80%;
    font-size: 15px;
    cursor: default;
}
#selectorUIContainer > :nth-child(3) > input {
     cursor: text;
 }

/* Child 4 */
#selectorUIContainer > :nth-child(4) {
    height: 70px;
    margin-top: 20px;
}

/* Child 5 */
#selectorUIContainer > :nth-child(5) {
    display: flex;
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #636363;
}
/* Adjustment container */
#controlsUIContainer > div {
    width: 95%;
    height: 25px;
    margin: 15px 0 15px 0;
    color: white;
}
/* Adjustment title */
#controlsUIContainer .adjustmentTitle {
    float: left;
    font-size: 25px;
    font-weight: 500;
    cursor: default;
}
/* All items that aren't title */
#controlsUIContainer div * {
    float: right;
}
/* Adjustment slider container and child */
#controlsUIContainer div div {
    display: flex;
    width: 45%;
    height: 25px;
    margin: 0 20px 0 0;
    align-items: center;
    color: white;
    border-left-style: solid;
    border-right-style: solid;
}
input.adjustmentSlider {
    width: 100%;
    height: 3px;
    margin: 0;
    appearance: none;
    
}
input.adjustmentSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 25px;
    background-color: #636363;
    border-radius: 2px;
    color: white;
    border-style: solid;
    cursor: pointer;
}
/* Value from slider */
.adjustmentValue {
    width: 65px;
    height: 25px;
    margin: 2px 5px 0 5px;
    padding: 0;
    border: none;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
/* Fine adjustment arrows */
#controlsUIContainer div span {
    font-size: 25px;
    cursor: pointer;
}
#controlsUIContainer div span::selection {
    background: transparent;
}
/* Reset Button */
#controlsUIContainer div img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}