#helpIcon {
    color: var(--specialGreen);
}
#questionsContainer {
    width: 100%;
    height: auto;
    padding: 40px 0 40px 0;
    background-color: var(--specialGrey);
}
/* Topic container */
.helpTopicContainer {
    width: 100%;
    max-height: 80px;
    margin-bottom: 40px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.extendedHeight {
    max-height: 600px;
}
/* Topic title */
.helpTitle {
    display: flex;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 7px;
}
.helpTitle h1 {
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.helpTitle span {
    margin: 10px;
    font-size: 30px;
    font-family: Timeburner, sans-serif;
    transform: rotate(90deg);
}
.helpTitle h1:hover, .helpTitle h1:hover+span {
    font-weight: 600;
}
.helpTitle h1::selection, .helpTitle span::selection {
    background: transparent;
}
/* Topic text */
.helpcontent {
    width: 87%;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 20px;
    background-color: grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.helpcontent p {
    margin: 0;
    font-size: 20px;
    color: white;
}
.helpcontent pre {
    color: white;
    margin: 0;
    font-size: 300px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .helpTitle h1 {
        font-size: 22px;
    }
    .helpcontent p {
        font-size: 16px;
    }
}