#navContainer {
    display: flex;
    position: sticky;
    z-index: 3;
    top:0;
    width: 100%;
    min-height: 90px;
    background-color: var(--specialBlack);
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
#navLogo {
    position: absolute;
    left: 0;
    z-index: 3;
    width: auto;
    height: 70%;
    /* margin: 0 0 0 10px; */
    transform: translate(10px);
    cursor: pointer;
}
#navLogo:hover {
    height: 71%;
    transform: translate(9px);
}
#navContainer ul {
    display: flex;
    height: 90px;
    min-height: 80px;
    margin: 0 auto 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}
#navContainer li {
    display: flex;
    align-items: center;
    float: left;
    width: auto;
    height: 100%;
    margin: 0 30px 0 30px;
    color: var(--specialBlack);
    border-bottom-style: solid;
    border-top-style: solid;
}
#navContainer a {
    padding: 10px 0 10px 0;
    font-family: AppleGothic, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#navContainer a:hover {
    font-weight: 600;
}
#helpIcon {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    /* width: 50px; */
    /* height: 50px; */
    margin: 0 25px 0 0;
    color: white;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}
#helpIcon p {
    margin: 0 auto 0 auto;
    align-self: center;
    font-family: AppleGothic, sans-serif;
    font-size: 31px;
}
#helpIcon:hover {
    border-width: 4px;
    font-weight: 600;
}
@media (max-width: 1100px) {
    #navContainer ul {
        display: none;
    }
}