#whatnewLI {
    border-bottom-color: var(--specialGreen);
}
#whatnewLI a {
    font-weight: 600;
    color: var(--specialGreen);
}
#newsContainer {
    width: 100%;
    background-color: #242424;
    /* background-color: var(--specialGrey); */
}
/* Skew container */
.skewContainer {
    display: flex;
    width: 100%;
    height: auto;
    margin: -30px 0 -30px 0;
    justify-content: center;
    align-items: center;
}
.skewContainer :nth-child(odd) {
    flex-wrap: wrap-reverse;
}
.skewContainer :nth-child(even) {
    flex-wrap: wrap;
}
.skewContainer:first-child {
    margin-top: 0px;
}
.skewContainer:last-child {
    margin-bottom: 0px;
}
/* Skewed elements */
.skewedChild {
    display: flex;
    width: 100%;
    height: 820px;
    flex-direction: row;
    color: var(--specialBlack);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 50px;
    background-color: #ECECEC;
    overflow: hidden;

    /* antialiasing */
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
}
#newsContainer > :nth-child(odd) > div, #newsContainer > :nth-child(even) > div > .textContainer {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}
#newsContainer > :nth-child(odd) > div > .image::before {
    background-position: 0% 60%;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
}
#newsContainer > :nth-child(even) > div, #newsContainer > :nth-child(odd) > div > .textContainer {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
}
#newsContainer > :nth-child(even) > div > .image::before {
    background-position: 100% 60%;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

/* Content divs */
.skewedChild > div {
    width: 50%;
    height: 100%;
}
/* Text */
.textContainer {
    padding: 50px 20px 50px 20px;
}
.headingDiv {
    display: flex;
    justify-content: center;
}
.headingDiv span {
    font-size: 50px;
    padding: 10px;
    white-space: nowrap;
    font-family: Timeburner, sans-serif;;
    color: var(--specialGreen);
    background-color: var(--specialBlack);
    box-shadow: 10px 10px #2A2A2A;
    cursor: text;
}
.textDiv::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: -25px;
    color: var(--specialBlack);
    border-left-style: solid;
    border-width: 10px;
}
.textDiv {
    position: relative;
    height: 75%;
    margin: 25px 0 0 20px;
    padding-left: 20px;
    color: var(--specialBlack);
    border-left-style: solid;
    border-width: 6px;
}
.textDiv p {
    display: inline;
    padding: 6px;
    line-height: 1.8;
    font-size: 25px;
    color: white;
    background-color: var(--specialBlack);
}
.textDiv a {
    color: var(--specialGreen);
}

/* Image */
.image::before {
    position: absolute;
    content: "";
    width: 50vw;
    height: 150vh;
    top: -25%;
    left: 0;
    z-index: -1;
    background-attachment: var(--attachment);
    background-repeat: no-repeat;
    background-size: var(--backgroundSize) auto;
}
.image {
    position: relative;
}
#image1::before {
    background-image: url(assets/website_launch_image.png);
}
#image2::before {
    background-image: url(assets/upcoming_releases.png);
}

@media (max-width: 1150px) {
    .skewedChild {
        height: auto;
    }
    .skewedChild > div {
        width: 100vw;
    }
    .textContainer {
        height: auto;
    }
    .image {
        display: none;
    }
}