#presetsLI, #presetsLIMobile {
    border-bottom-color: var(--specialGreen);
}
#presetsLI a, #presetsLIMobile a {
    font-weight: 600;
    color: var(--specialGreen);
}
.placeholderImage {
    display: block;
    width: 100%;
}