:root {
    /* Colours */
    --specialGreen: #80FFE6;
    --specialBlack: #1A1A1A;
    --specialGrey: #353535;

    /* Misc */
    --brightness: 50%;
    --attachment: fixed;
    --backgroundSize: 50%;

    /* Custom wrap settings */
    --source: url("");
    --scale: 1;
    --xpos: 0;
    --ypos: 0;
    --rotation: 0;

}